<div class="page-content container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="cover-picture">
                <img class="cover-image-lg" src="{{coverUrl}}" alt="Profile image example"/>
                <img class="cover-image-profile thumbnail" src="{{profileUrl}}"
                     alt="Profile image example"/>
                <div class="cover-profile-text">
                    <h2 *ngIf="settingsAccount"><b>{{settingsAccount.firstName}}</b> {{settingsAccount.lastName}}</h2>
                </div>
            </div>
            <div class="alert alert-success" *ngIf="success">
                <strong>Le profile est bien sauvegardé !</strong>
            </div>
            <jhi-alert-error></jhi-alert-error>
            <ngb-tabset>
                <ngb-tab title="Informations personnelles">
                    <template ngbTabContent>
                        <div *ngIf="settingsAccount">
                            <div *ngIf="settingsAccount.authorities.includes('ROLE_FREELANCE')">
                                <jhi-profile-freelance [settingsAccount]="settingsAccount"></jhi-profile-freelance>
                            </div>
                            <div *ngIf="settingsAccount.authorities.includes('ROLE_RECRUITER')">
                                <jhi-profile-recruiter [settingsAccount]="settingsAccount"></jhi-profile-recruiter>
                            </div>
                        </div>
                    </template>
                </ngb-tab>
                <ngb-tab title="Informations du compte">
                    <template ngbTabContent>
                        <br>
                        <form name="form" role="form" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>
                            <div class="form-group">
                                <label class="form-control-label" for="firstName">Nom</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                       placeholder="{{settings?.form?.firstname.placeholder}}"
                                       [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50
                                       #firstNameInput="ngModel"
                                       required>
                                <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.required">
                                        Your first name is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.minlength">
                                        Your first name is required to be at least 1 character.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength">
                                        Your first name cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="lastName">Prénom</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       placeholder="{{settings?.form?.lastname.placeholder}}"
                                       [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50
                                       #lastNameInput="ngModel"
                                       required>
                                <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.required">
                                        Your last name is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.minlength">
                                        Your last name is required to be at least 1 character.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="lastNameInput.errors.maxlength">
                                        Your last name cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="{{global?.form?.email.placeholder}}"
                                       [(ngModel)]="settingsAccount.email" minlength=5 maxlength=100
                                       #emailInput="ngModel" required>
                                <div *ngIf="emailInput.dirty && emailInput.invalid">
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                                        Your email is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.email">
                                        Your email is invalid.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.minlength">
                                        Your email is required to be at least 5 characters.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                                        Your email cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="languages && languages.length > 0">
                                <label for="langKey">Langue</label>
                                <select class="form-control" id="langKey" name="langKey"
                                        [(ngModel)]="settingsAccount.langKey">
                                    <option *ngFor="let language of languages" [value]="language">{{language |
                                        findLanguageFromKey}}
                                    </option>
                                </select>
                            </div>
                            <div id="timelineNav">
                                <div id="timelineButtons">
                                    <span class="follow">
                                        <button (click)="save()" type="button"
                                                class="userActions-editButton edit-button btn"
                                                data-scribe-element="profile_edit_button">
                                            <span class="button-text">Enregistrer</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
