<ion-header>
  <ion-navbar>
    <ion-title>Ionic 2 Tinder Cards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let c of cards">
      <ion-item *ngIf="c.picture">
        <img id="card-image" *ngIf="c.picture" [src]="c.picture.large">
        <h1 id="card-title">{{ c.name.first | capitalize }}, {{ c.age }}</h1>
        <h2 id="card-subtitle">{{ c.location.city | capitalize }}</h2>
      </ion-item>

      <ion-row *ngIf="c.name">
        <ion-col>
          <button ion-button color="danger" round outline large (click)="voteUp(false)">
            <ion-icon name="thumbs-down"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color="secondary" round outline large (click)="voteUp(true)">
            <ion-icon name="thumbs-up"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
