
<div *ngIf="training">
    <h2><span jhiTranslate="tindevApp.training.detail.title">Training</span> {{training.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tindevApp.training.startDate">Start Date</span></dt>
        <dd>
            <span>{{training.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.training.endDate">End Date</span></dt>
        <dd>
            <span>{{training.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.training.name">Name</span></dt>
        <dd>
            <span>{{training.name}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.training.location">Location</span></dt>
        <dd>
            <span>{{training.location}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.training.freelance">Freelance</span></dt>
        <dd>
            <div *ngIf="training.freelance">
                <a [routerLink]="['/freelance', training.freelance?.id]">{{training.freelance?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'training/'+ training.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
