<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDiscussionLabel" jhiTranslate="tindevApp.discussion.home.createOrEditLabel">Create
            or edit a Discussion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!discussion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="discussion.id" readonly/>
        </div>

        <div class="form-group">
            <label jhiTranslate="tindevApp.discussion.freelance" for="field_freelance">Freelance</label>
            <select class="form-control" id="field_freelance" name="freelance" [(ngModel)]="discussion.freelance">
                <option [ngValue]="null"></option>
                <option
                    [ngValue]="freelanceOption.id === discussion.freelance?.id ? discussion.freelance : freelanceOption"
                    *ngFor="let freelanceOption of freelances; trackBy: trackFreelanceById">{{freelanceOption.id}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="tindevApp.discussion.mission" for="field_mission">Mission</label>
            <select class="form-control" id="field_mission" name="mission" [(ngModel)]="discussion.mission">
                <option [ngValue]="null"></option>
                <option [ngValue]="missionOption.id === discussion.mission?.id ? discussion.mission : missionOption"
                        *ngFor="let missionOption of missions; trackBy: trackMissionById">{{missionOption.title}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
