<div class="page-content container">
    <h2>
        <span jhiTranslate="tindevApp.discussion.home.title">Discussions</span>
        <button class="btn btn-primary float-right create-discussion" [routerLink]="['/', { outlets: { popup: ['discussion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tindevApp.discussion.home.createLabel">
            Create new Discussion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="discussions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tindevApp.discussion.freelance">Freelance</span></th>
            <th><span jhiTranslate="tindevApp.discussion.mission">Mission</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let discussion of discussions ;trackBy: trackId">
                <td><a [routerLink]="['../discussion', discussion.id ]">{{discussion.id}}</a></td>
                <td>
                    <div *ngIf="discussion.freelance">
                        <a [routerLink]="['../freelance', discussion.freelance?.id ]" >{{discussion.freelance?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="discussion.mission">
                        <a [routerLink]="['../mission', discussion.mission?.id ]" >{{discussion.mission?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../discussion', discussion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'discussion/'+ discussion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'discussion/'+ discussion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
