.profile-sous-title {
    font-size: 0.9em;
    color: #737373;
    margin-bottom: 0px;
}

.edit-button{
    border-color: #cccccc;
    background-color: #ffffff;
}

.table th, .table td {
    border-top: 0px solid white;
}
