page-matching {
    #card-stack ion-card {
        border-radius: 5px;
        text-align: center;
        height: 90%;
        position: absolute;
        top: 3%;

    }

    #card-stack {
        width: 90%;
        height: 1500px;
        margin: 100px auto 0;
        position: relative;
    }

    .card-image {
        pointer-events: none;
    }

    .card-title {
        padding-top: 10px;
        font-weight: 400;
    }

    .card-subtitle {
        color: grey;
    }

    .infos-like {
        padding-top: 10px;
        font-size: 16px;
    }
    .margin-right {
        margin-right: 10vw;
    }

    #another-mission {
        text-align: center;
    }

    #card-empty-match {
        text-align: center;
    }
}
