<ion-header>
    <ion-navbar color="primary">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>
            Tindev Matching
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="getCompletedProfile()">
        <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack">

            <!-- Affichage dans le cas d'un freelance -->
            <ion-card #cards swing-card *ngIf="currentCard" (click)="showDetailsPage()">
                <ion-item>
                    <img class="card-image" *ngIf="getCurrentUserImage()" [src]="getCurrentUserImage()">
                    <h1 class="card-title">{{ getCurrentUserName() | capitalize }}</h1>
                    <h2 class="card-subtitle">{{ getCurrentUserDescription() | capitalize }}</h2>
                </ion-item>

                <ion-row>
                    <ion-col>
                        <button ion-button color="danger" round outline large (click)="$event.stopPropagation();voteUp(false)">
                            <ion-icon name="thumbs-down"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button color="safe" round outline large (click)="$event.stopPropagation();voteUp(true)">
                            <ion-icon name="thumbs-up"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card>
            <div id="card-empty-match" *ngIf="!currentCard">
                <img src="assets/images/alert-empty-match.png">
                <h1>Oups...</h1>
                <h3>Actuellement, aucun résultat n'est disponible !</h3>
                <p color="danger">Réessayez dans un petit instant</p>
            </div>
        </div>
    </div>

    <div id="another-mission" *ngIf="isRecruiter()">
        <button ion-button (click)="goToMissionSelection()">
            <ion-icon class="margin-right" name="arrow-dropleft"></ion-icon>
            <p>Matcher avec une autre mission</p>
        </button>
    </div>
    <!--
  <div *ngIf="!this.auth.getUserInfo().completedProfile">

  </div>
  -->
</ion-content>

<!--



     <div>
      <ion-camatching     <ion-item>
          <img id="un-card-image" [src]="assets/images/uncompleted-profile-placeholder.jpg">
          <h1 id="un-card-title">Fimatching next associate</h1>
          <h2 id="un-card-subtitle">You need to complete your profile in the desktop app before</h2>
        </ion-item>
      </ion-card>
    </div>

-->
