
<div *ngIf="recruiter">
    <h2><span jhiTranslate="tindevApp.recruiter.detail.title">Recruiter</span> {{recruiter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tindevApp.recruiter.company">Company</span></dt>
        <dd>
            <span>{{recruiter.company}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.recruiter.idUser">Id User</span></dt>
        <dd>
            <span>{{recruiter.idUser}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'recruiter/'+ recruiter.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
