<div *ngIf="experience">
    <h2><span jhiTranslate="tindevApp.experience.detail.title">Experience</span> {{experience.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tindevApp.experience.startYear">Start Year</span></dt>
        <dd>
            <span>{{experience.startYear | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.experience.endYear">End Year</span></dt>
        <dd>
            <span>{{experience.endYear | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.experience.location">Location</span></dt>
        <dd>
            <span>{{experience.location}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.experience.freelance">Freelance</span></dt>
        <dd>
            <div *ngIf="experience.freelance">
                <a [routerLink]="['/freelance', experience.freelance?.id]">{{experience.freelance?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'experience/'+ experience.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
