

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExperienceLabel" jhiTranslate="tindevApp.experience.home.createOrEditLabel">Create or edit a Experience</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!experience.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="experience.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tindevApp.experience.startYear" for="field_startYear">Start Year</label>
            <div class="input-group">
                <input id="field_startYear" type="text" class="form-control" name="startYear" ngbDatepicker  #startYearDp="ngbDatepicker" [(ngModel)]="experience.startYear"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startYearDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tindevApp.experience.endYear" for="field_endYear">End Year</label>
            <div class="input-group">
                <input id="field_endYear" type="text" class="form-control" name="endYear" ngbDatepicker  #endYearDp="ngbDatepicker" [(ngModel)]="experience.endYear"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endYearDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tindevApp.experience.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="experience.location"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
