<div *ngIf="matching">
    <h2><span jhiTranslate="tindevApp.matching.detail.title">Matching</span> {{matching.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tindevApp.matching.score">Score</span></dt>
        <dd>
            <span>{{matching.score}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.matching.fLikedDate">F Liked Date</span></dt>
        <dd>
            <span>{{matching.fLikedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.matching.rLikedDate">R Liked Date</span></dt>
        <dd>
            <span>{{matching.rLikedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.matching.freelanceLiked">Freelance Liked</span></dt>
        <dd>
            <span>{{matching.freelanceLiked}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.matching.recruiterLiked">Recruiter Liked</span></dt>
        <dd>
            <span>{{matching.recruiterLiked}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.matching.freelanceVoted">Freelance Voted</span></dt>
        <dd>
            <span>{{matching.freelanceVoted}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.matching.recruiterVoted">Recruiter Voted</span></dt>
        <dd>
            <span>{{matching.recruiterVoted}}</span>
        </dd>
        <dt><span jhiTranslate="tindevApp.matching.mission">Mission</span></dt>
        <dd>
            <div *ngIf="matching.mission">
                <a [routerLink]="['/mission', matching.mission?.id]">{{matching.mission?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tindevApp.matching.freelance">Freelance</span></dt>
        <dd>
            <div *ngIf="matching.freelance">
                <a [routerLink]="['/freelance', matching.freelance?.id]">{{matching.freelance?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'matching/'+ matching.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
