<div class="container">
    <h2>
        <span jhiTranslate="tindevApp.matching.home.title">Matchings</span>
        <button class="btn btn-primary float-right create-matching"
                [routerLink]="['/', { outlets: { popup: ['matching-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="tindevApp.matching.home.createLabel">
            Create new Matching
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="matchings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="score"><span jhiTranslate="tindevApp.matching.score">Score</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="fLikedDate"><span jhiTranslate="tindevApp.matching.fLikedDate">F Liked Date</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="rLikedDate"><span jhiTranslate="tindevApp.matching.rLikedDate">R Liked Date</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="freelanceLiked"><span
                    jhiTranslate="tindevApp.matching.freelanceLiked">Freelance Liked</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="recruiterLiked"><span
                    jhiTranslate="tindevApp.matching.recruiterLiked">Recruiter Liked</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="freelanceVoted"><span
                    jhiTranslate="tindevApp.matching.freelanceVoted">Freelance Voted</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="recruiterVoted"><span
                    jhiTranslate="tindevApp.matching.recruiterVoted">Recruiter Voted</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="mission.id"><span jhiTranslate="tindevApp.matching.mission">Mission</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="freelance.id"><span jhiTranslate="tindevApp.matching.freelance">Freelance</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let matching of matchings ;trackBy: trackId">
                <td><a [routerLink]="['../matching', matching.id ]">{{matching.id}}</a></td>
                <td>{{matching.score}}</td>
                <td>{{matching.fLikedDate | date:'mediumDate'}}</td>
                <td>{{matching.rLikedDate | date:'mediumDate'}}</td>
                <td>{{matching.freelanceLiked}}</td>
                <td>{{matching.recruiterLiked}}</td>
                <td>{{matching.freelanceVoted}}</td>
                <td>{{matching.recruiterVoted}}</td>
                <td>
                    <div *ngIf="matching.mission">
                        <a [routerLink]="['../mission', matching.mission?.id ]">{{matching.mission?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="matching.freelance">
                        <a [routerLink]="['../freelance', matching.freelance?.id ]">{{matching.freelance?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../matching', matching.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'matching/'+ matching.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'matching/'+ matching.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="matchings && matchings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
