<div>
    <h2>
        <span jhiTranslate="tindevApp.mission.home.title">Missions</span>
        <button class="btn btn-primary float-right create-mission" [routerLink]="['/', { outlets: { popup: ['mission-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tindevApp.mission.home.createLabel">
            Create new Mission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="missions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tindevApp.mission.title">Title</span></th>
            <th><span jhiTranslate="tindevApp.mission.description">Description</span></th>
            <th><span jhiTranslate="tindevApp.mission.minSalary">Min Salary</span></th>
            <th><span jhiTranslate="tindevApp.mission.maxSalary">Max Salary</span></th>
            <th><span jhiTranslate="tindevApp.mission.startDate">Start Date</span></th>
            <th><span jhiTranslate="tindevApp.mission.endDate">End Date</span></th>
            <th><span jhiTranslate="tindevApp.mission.photoUrl">Photo Url</span></th>
            <th><span jhiTranslate="tindevApp.mission.recruiter">Recruiter</span></th>
            <th><span jhiTranslate="tindevApp.mission.specialty">Specialty</span></th>
            <th><span jhiTranslate="tindevApp.mission.domain">Domain</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mission of missions ;trackBy: trackId">
                <td><a [routerLink]="['../mission', mission.id ]">{{mission.id}}</a></td>
                <td>{{mission.title}}</td>
                <td>{{mission.description}}</td>
                <td>{{mission.minSalary}}</td>
                <td>{{mission.maxSalary}}</td>
                <td>{{mission.startDate | date:'mediumDate'}}</td>
                <td>{{mission.endDate | date:'mediumDate'}}</td>
                <td>{{mission.photoUrl}}</td>
                <td>
                    <div *ngIf="mission.recruiter">
                        <a [routerLink]="['../recruiter', mission.recruiter?.id ]" >{{mission.recruiter?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mission.specialty">
                        <a [routerLink]="['../specialty', mission.specialty?.id ]" >{{mission.specialty?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mission.domain">
                        <a [routerLink]="['../domain', mission.domain?.id ]" >{{mission.domain?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../mission', mission.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mission/'+ mission.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mission/'+ mission.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
